- @no_container = true
- @content_class = "issue-gantt-content"
- page_title "Gantt Diagram"

- content_for :page_specific_javascripts do
  = page_specific_javascript_tag('boards/gantt_bundle.js')

= render "projects/issues/head"

= render 'shared/issuable/filter', type: :boards

