= content_for :sub_nav do
  .scrolling-tabs-container.sub-nav-scroll
    = render 'shared/nav_scroll'
    .nav-links.sub-nav.scrolling-tabs
      %ul{ class: (container_class) }
        - if project_nav_tab?(:issues) && !current_controller?(:merge_requests)
          = nav_link(controller: :issues) do
            = link_to namespace_project_issues_path(@project.namespace, @project), title: 'Issues' do
              %span
                Issues

          = nav_link(controller: :boards) do
            = link_to namespace_project_boards_path(@project.namespace, @project), title: 'Board' do
              %span
                Board

          = nav_link(controller: :gantts) do
            = link_to namespace_project_gantts_path(@project.namespace, @project), title: 'Gantt' do
              %span
                Gantt

        - if project_nav_tab?(:merge_requests) && current_controller?(:merge_requests)
          = nav_link(controller: :merge_requests) do
            = link_to namespace_project_merge_requests_path(@project.namespace, @project), title: 'Merge Requests' do
              %span
                Merge Requests

        - if project_nav_tab? :labels
          = nav_link(controller: :labels) do
            = link_to namespace_project_labels_path(@project.namespace, @project), title: 'Labels' do
              %span
                Labels

        - if project_nav_tab? :milestones
          = nav_link(controller: :milestones) do
            = link_to namespace_project_milestones_path(@project.namespace, @project), title: 'Milestones' do
              %span
                Milestones
